{% load i18n %}
{% load static %}
{% load cart_tags %}
<div class="row mx-3">
    <div class="col-12">
<form id="deliveryForm"  method="post">{% csrf_token %}
    <div class="row">
        <div class="col-12 col-md-7">
            {{form.non_field_errors}}
            <div class="form-group">
                {{form.name.label}}
                {{form.name}}
                {{form.name.errors}}
            </div>
            <div class="form-group">
                {{form.address.label}}
                {{form.address}}
                {{form.comments.errors}}
            </div>
            <div class="form-group">
                {{form.comments.label}}
                {{form.comments}}
                {{form.comments.errors}}
            </div>
            <div class="form-group">
                {{form.pickup.label}}
            </div>
            <div class="d-flex justify-content-between" data-toggle="buttons">
                {% for choice in form.pickup%}
                <div class="col-6 px-1">
                    <label class="btn btn-sm btn-block btn-outline-primary p-1 pt-2 my-0 text-uppercase">
                    {{choice}}{{choice.label}}
                    </label>
                </div>
                {% endfor %}
            </div>
            {{form.pickup.errors}}
            <div class="d-flex justify-content-between form-group bg-light mt-3">

                <div class="col-7">
                    {{form.tip_percent.label}}
<!--                <select id="id_tip" class="form-control" name="tip">-->
<!--                    {% for value, displayable in form.tip_percent.field.choices %}-->
<!--                        <option value="{{value}}" {% if value == 2000 %}selected{% endif %}>{{displayable}}</option>-->
<!--                    {% endfor %}-->
<!--                </select>-->
                    {{form.tip_percent}}
                </div>
                {{form.tip_percent.errors}}
                <div class=" col-5 d-flex align-self-end">
                    {{form.tip_number}}
                    {{form.tip}}
                    {{form.tip.errors}}
                </div>
            </div>
        </div>
    </div>
</form>
    <div class="col-12 mt-3">
        <a type="button" class="btn btn-block btn-success text-white" onclick="sendOrderByWhatsapp()">
            <h5>{%trans 'Send' %} <i class="fab fa-whatsapp"></i></h5>
        </a>
    </div>
        <input value="{{total}}" type="number" id="totalOrder" hidden>
</div>
</div>