{% load i18n %}
{% load static %}
{% load cart_tags %}
<div class="row mx-3">
    <div class="col-12">
<form id="deliveryForm"  method="post">{% csrf_token %}
    <div class="row">
        <div class="col-12 col-md-7">
                <div>
                    {{form.errors}}
                    {{form.name.label}}
                    {{form.name}}
                    {{form.comments.errors}}
                </div>
                <div>
                    {{form.address.label}}
                    {{form.address}}
                    {{form.comments.errors}}
                </div>
                <div>
                    {{form.pickup.label}}
                    {{form.pickup}}
                    <p class="px-3"><small>*{%trans 'leave unselected for delivery' %}</small></p>
                    {{form.comments.errors}}
                </div>
                <div>
                    {{form.comments.label}}
                    {{form.comments}}
                    {{form.comments.errors}}
                </div>
        </div>
    </div>
    <hr>
</form>
            <div class="col-12">
        <a type="button" class="btn btn-block btn-success" onclick="sendOrderByWhatsapp()">
            {%trans 'Send' %} <i class="fab fa-whatsapp fa-2x"></i>
        </a>
    </div>
</div>
</div>