{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block title %}
{% trans 'Menu' %}
{% endblock %}

{% block styles %}
{% endblock %}

{% block body %}
<div class="row">
     <form action="{% url 'profile:create' %}" method="post">{% csrf_token %}
         {% for field in form%}
         <div class="col-12">
             {{field.label}}
         </div>
         <div class="col-12">
             {{field}}
         </div>
         {% endfor %}
      <button type="submit" class="submit btn px-3 m-2 btn-block bg-primary text-white" >{% trans 'sign up' %}</button>
<!--      <button type="button" class="fb-btn">Join with <span>facebook</span></button>-->
     </form>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}