{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block content %}
<div class="row">
        <div class="col-sm-12 col-md-4 p-2">
        <img src="{% if product.image %}{{ product.image.url }}
        {% else %}{% static 'img/no_image.png' %}{% endif %}" class="img-fluid">
        </div>
        <div class="col-md-8 p-2">
        <h1>{{ product.name }}</h1>
        <h2>
            <a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a>
        </h2>
        <p class="price">${{ product.price }}</p>
        <form action="{% url 'cart:cart_add' product.id %}" method="POST">
            {{form.quantity.label}}:&nbsp;&nbsp;&nbsp;
            {{form.quantity}}&nbsp;&nbsp;&nbsp;&nbsp;
            {{form.color.label}}:&nbsp;&nbsp;&nbsp;
            {{form.color}}&nbsp;&nbsp;&nbsp;&nbsp;
            {% csrf_token %}
            <input type="submit" class="btn btn-primary btn-lg p-1" value="Agregar a carrito">
        </form>
        {{ product.description|linebreaks }}
        </div>
</div>
{% endblock %}
