{% load i18n %}
{% load static %}
<div class="row menu-content">
    <div class="accordion col-12 col-md-6" id="accordionMenu">
                 <div class="card-header btn-success">
                    <button class="btn btn-link btn-block text-center text-uppercase" onclick="createCategory('get')">
                        AGREGAR CATEGORÍA NUEVA<span class="float-right"><i class="fa fa-plus-circle" aria-hidden="true"></i></span>
                    </button>
                </div>
        {% for category, list in items.items %}
            <div class="card cat-{{list.1}}">
                <div class="card-header bg-dark px-1">
                    <span class="btn btn-sm bg-secondary float-left mx-1" onclick="editCategory({{list.1}}, 'get')">Editar</span>
                    <span class="btn btn-sm bg-danger float-left mx-1 text-white" onclick="deleteCategory({{list.1}})">Eliminar</span>
                    <span class="btn text-white btn-block text-center text text-uppercase float-center" data-toggle="collapse" data-target="#collapse{{list.1}}" aria-expanded="true" aria-controls="collapse{{forloop.counter}}">
                        <a id="cat{{list.1}}">{{category}}</a> <span class="float-right"><span class="float-right dropBut"><small>&nbsp;abrir&nbsp;</small></span><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                    </span>
                </div>
                <div id="collapse{{list.1}}" class="collapse shadow" data-parent="#accordionMenu">
                      <div class="card-body px-2 pt-2  pb-1" id="cat-body{{list.1}}">
                        <div class="col-12 px-1  btn-success">
                            <button class="btn btn-link btn-block text-center text-uppercase text-white" onclick="createItem({{list.1}}, 'get')">
                            AGREGAR PRODUCTO A ESTA CATEGORÍA<span class="float-right"><i class="fa fa-plus-circle" aria-hidden="true"></i></span>
                            </button>
                        </div>
                        {% for item in list.0 %}
                          {% include 'chunks/item_display.html' %}
                        {% endfor %}
                      </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="col-12 col-md-6 px-1" id="divAd">
        {% include "chunks/carousel_ads.html" %}
    </div>
</div>