        /* custom.scss */

        /* import the necessary Bootstrap files */
        @import "../bootstrap-4.4.1/scss/functions";
        //@import "./bootstrap/scss/variables";


        /* -------begin customization-------- */
        /* or, use an existing variable */
        $theme-colors: (
          primary: #151E3F,
          secondary: #ffc929
        );
        $component-active-bg: gray;
        $enable-responsive-font-sizes:true;
        /* -------end customization-------- */
        

        /* finally, import Bootstrap to set the changes! */
        @import "../bootstrap-4.4.1/scss/bootstrap";