{% extends 'base.html' %}

{% load i18n %}
{% load static %}
{% load menu_tags %}
{% block title %}
{% trans 'Menu' %}
{% endblock %}

{% block styles %}
    <style>
        /* For Firefox */
        input[type='number'] {
            -moz-appearance:textfield;
        }

        /* Webkit browsers like Safari and Chrome */
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'itemslider1.0/css/style.css' %}" />
    <script src="{% static 'itemslider1.0/js/modernizr.custom.63321.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="p-3">
            <h2>{{menu.title}}</h2>
        </div>
<!--        {{request.session.cart}}-->
    </div>

    <div id="mi-slider" class="mi-slider">
        {% for category, item in items.items %}
        <ul id="{{category}}">
            {% for item in item %}
                {% with prices=item.prices.all %}
                    <li><a href="#"><img src="{{item.photo.url}}" width="280" alt="img{{item.id}}">
                        <div><h5>{{item.name}}</h5></div>
                        <h4>{{prices.0.price_str}}</h4></a>
                        <div class="input-group input-group-xs px-1 px-lg-3">
                            <div class="input-group-prepend">
                                <button class="btn btn-xs btn-primary px-2 px-lg-3" type="button" onclick="toCart({{item.id}},-1)">-</button>
                            </div>
                            <input type="number" id="product_{{item.id}}" class="form-control text-center px-2" name="quantity"
                                   value="{% quantity_in_cart request.session.cart item.id %}" disabled>
                            <div class="input-group-append">
                                <button class="btn btn-xs btn-primary px-2 px-lg-3" type="button" onclick="toCart({{item.id}}, 1)">+</button>
                            </div>
                        </div>
                    </li>
                {% endwith %}
            {% endfor %}
        </ul>
        {% endfor %}
        <nav>
        {% for category in items.keys %}
        <a href="#">{{category}}</a>
        {% endfor %}
        </nav>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'itemslider1.0/js/jquery.catslider.js' %}"></script>
    <script>
        $(function() {
            $( '#mi-slider' ).catslider();
        });

        function toCart(id, command, itemId=0) {
            let inputId = '#product_'+id;
            let qty_update = parseInt(command);

            // if size is already given (order confirmation)
            if (itemId > 0){
                updateQuantity(itemId, qty_update, inputId)
                return true;
            }

            let url = "{% url 'menu:price' 123 %}".replace(/123/, id);

            //get all sizes of the product in the db
            //or in the order and if it is more than one, show modal to choose.
            $.ajax({
                type: "post",
                url: url,
                data: {'command': command, 'csrfmiddlewaretoken': csrftoken},
                success: function(data) {
                    if (data.list == -1) {
                        Swal.fire({
                          icon: 'error',
                          title: data.msg,
                          text: data.text,
                        })
                    }
                    if (Object.keys(data.list).length > 1){
                        (async () => {
                            const { value: item_id } = await Swal.fire({
                                title: data.msg,
                                input: 'select',
                                inputOptions: data.list,
                                showCancelButton: true,
                                inputValidator: (value) => {
                                    return new Promise((resolve) => {
                                      if (value) {
                                        resolve()
                                      } else {
                                        resolve('You need to select an option :)')
                                      }
                                })
                              }
                            })
                            if (item_id) {
                                updateQuantity(item_id, qty_update, inputId);
                            }
                        })()
                    }else {
                        let item_id = Object.keys(data.list)[0];
                        updateQuantity(item_id, qty_update, inputId);
                    }
                }
            });
        };
        $('#modalOrder').on('shown.bs.modal', function (e) {
          $('#modalOrder').animate({ scrollTop: $('#modalOrder .modal-dialog').height() }, 500);
        })

        function updateQuantity(itemId, qty, inputId){
            let url2 = "{% url 'cart:cart_add' 123 %}".replace(/123/, itemId);
            $.ajax({
                type: "post",
                url: url2,
                data: {'quantity': qty, 'csrfmiddlewaretoken': csrftoken},
                success: function(data) {
                    $(inputId).val(parseInt($(inputId).val()) + data.qty)
                    $('.cart').load(document.URL +  ' .cart');
                    if( $('#modalOrder').hasClass('show')){
                        getOrder()
                    }
                }
            });
        }

        // adding and removing category for plugin to work
        if (parseInt($(window).width()) < 576) {
            if(!$(".category").length){
                $('ul').each( function () {
                    $('<div class="lead category bg-secondary mt-3 rounded">' + this.id + '</div>').insertBefore(this)
                });
            }
        }
        $( window ).resize( function(){
            if (parseInt($(window).width()) < 576) {
                if(!$(".category").length){
                    $('ul').each( function () {
                        $('<div class="lead category bg-secondary mt-3 rounded">' + this.id + '</div>').insertBefore(this)
                    });
                }
            } else {
                $(".category").remove();
            }
        });

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
    </script>
{% endblock %}