{% extends 'base.html' %}

{% load i18n %}
{% load static %}
{% load menu_tags %}
{% block title %}
{% trans 'Menu' %}
{% endblock %}

{% block styles %}
<link href="https://fonts.googleapis.com/css2?family=Niconne&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Aleo:wght@400&display=swap" rel="stylesheet">
<style>
    /* For Firefox */
    input[type='number'] {
        -moz-appearance:textfield;
    }

    /* Webkit browsers like Safari and Chrome */
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .itemQty > .form-control:disabled, itemQty > .form-control[readonly]{
        background-color: #fff;
        border: solid 1px #e0cd80; //changes
        font-size: 2.2rem !important;
        color: #000;
    }

    hr {
        background-color: black !important; //changes
    }

    .card-header > button{
        font-family: 'Niconne';
        font-size: 2.5rem !important;
        color: black !important;
    }

    .input-group-prepend > button, .input-group-append > button{
        border: solid 1px #000000;
        background-image: linear-gradient(#000000, #000000);
        color: #e0cd80;
        border: solid 1px #e0cd80; //changes
    }
    .input-group-prepend > button:hover, .input-group-append > button:hover{
        color: white;
    }



    .addButton > button{
            background-image: linear-gradient(#000000, #000000);
            color: #e0cd80;
    }
    .addButton > button:hover{
            background-image: linear-gradient(#000000, #000000);
            color: white;
    }

    .card-header{
        background-image: linear-gradient(#EAE2A9, #e0cd80);
    }
    .card-header:hover{
        background-image: linear-gradient(#e0cd80, #e0cd80);
    }

    .card-body{
        background-color: #FFFFFF;
    }

    .dish{
        font-family: 'aleo', serif;
        color: #00000;
    }
    .ingredients{
        color: black;
    }
    .dish > span{
        position: relative;
        top: -5px !important;
    }
    .dropBut {
        font-size:1.5rem;
        right:32px;
        top:-7px;
        position: relative;
        width:50px;
    }

    .info {
        background-color: black;
        color: #e0c580;
        font-weight: 700;
    }
    .info > p > a {
        color:white !important;
    }
</style>
{% endblock %}

{% block body %}
<div class="d-flex flex-row justify-content-between align-items-center pt-2">
    <div class="px-1">
        {% if menu.logo.url %}
        <img src="{{menu.logo.url}}" class="img-fluid rounded" height="300" width="450">
        {% endif%}
    </div>
    <div class="px-1 rounded info">
        <h6>Contactanos:</h6>
        <p><i class="fa fa-phone-square mt-2">&nbsp;</i> <a href="tel:+573012583308"> 301-258-3308 (llamar)</a></p>
        <p class="my-1"><i class="fa fa-map-marker">&nbsp;</i><a href="{{map_url}}" target="_blank"> Calle 16 A # 12-28 Santa Anita (ver en google maps)</a></p>
        {% if map_url2 %}
            <p class="my-0"><a href="{{map_url2}}" target="_blank">(ver en apple maps)</a></p>
        {% endif %}
    </div>
</div>
<hr>
<div class="row">
    <div class="accordion col-12 col-md-7 px-1 px-sm-2 px-md-3" id="accordionMenu">
        {% for category, item in items.items %}
            <div class="card">
                <div class="card-header p-1" id="heading{{forloop.counter}}">
                    <button class="btn btn-link btn-block text-center px-1" type="button" data-toggle="collapse" data-target="#collapse{{forloop.counter}}" aria-expanded="true" aria-controls="collapse{{forloop.counter}}">
                        {{category}} <span class="float-right"><span class="float-right dropBut"><small>&nbsp;abrir&nbsp;</small></span><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                    </button>
                </div>
                <div id="collapse{{forloop.counter}}" class="collapse shadow" aria-labelledby="heading{{forloop.counter}}" data-parent="#accordionMenu">
                      <div class="card-body px-2 pt-2 pr-md-3 pb-1">
                        {% for item in item %}
                            {% with prices=item.prices.all %}
                                {% if item.photo.url != "https://digimenu-bucket.s3.amazonaws.com/media/images/default/no_photo.png" %}
                                    {%if category == 'Paellas' %}
                                      <div class="d-flex justify-content-center">
                                            <div class="col-12 m-2 px-3 text-center bg-light rounded info">
                                              <p class="my-0">solo sobre pedidos</p>
                                          </div>
                                      </div>
                                    {% endif %}
                                    <div class="row my-1 p-1 border-bottom dish">
                                       <div class="col-5 col-md-5">
                                           <img src="{{item.photo.url}}" class="img-fluid rounded">
                                       </div>
                                       <div class="col-7 col-md-7 col-lg-7 text-left px-1">
                                           <div class="d-flex justify-content-start mb-2">
                                               <h4><strong>{{item.name}}</strong></h4>
                                           </div>
                                           <div class="d-flex justify-content-between">
                                                <div class="d-flex align-items-center px-1 text-left">
                                                    {% if prices|length > 1%}
                                                    <h5><small>Desde </small>{{prices.0.price_str}}</h5>
                                                    {% else %}
                                                    <h4>{{prices.0.price_str}}</h4>
                                                    {% endif %}
                                                </div>
                                                <div class="px-1 addRemoveButtons">
                                                    <div class="itemQty input-group input-group-xs px-1 px-lg-2">
                                                        <div class="input-group-prepend">
                                                            <button class="btn btn-xs px-1 px-sm-2 px-md-3" type="button" onclick="toCart({{item.id}},-1, 0)"><i class="fas fa-minus"></i></button>
                                                        </div>
                                                            <input type="number" id="product_{{item.id}}" class="form-control text-center px-1 pb-2" name="quantity"
                                                                   value="{% quantity_in_cart request.session.cart item.id %}" disabled style="max-width:60px; min-width:16px; font-size:1.2rem;">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-xs px-1 px-sm-2 px-md-3" type="button" onclick="toCart({{item.id}}, 1, 0)"><i class="fas fa-plus"></i></button>
                                                        </div>
                                                    </div>
                                                    <div class="addButton px-1" style="display:none;">
                                                       <button class="btn btn-block px-1" type="button" onclick="toCart({{item.id}}, 1, 0)">{% if prices|length > 1%}Ver tamaños{% else %}<strong>Agregar </strong> <i class="fas fa-plus"></i>{% endif %}</button>
                                                    </div>
                                                </div>
                                           </div>
                                           <div class="col-12 ingredients d-none d-sm-block mt-2 pl-0 pr-2">
                                            {{item.ingredients}}
                                            </div>
                                       </div>
                                           <div class="col-12 px-3 text-left ingredients d-block d-sm-none ">
                                            {{item.ingredients}}
                                            </div>
                                            {%if category == 'Fuertes' %}
                                                <div class="col-12 my-0 bg-light rounded">
                                                    <p class="my-0"><small>con ensalada de la casa y un acompañamiento de su elección</small></p>
                                                </div>
                                            {% endif %}
                                        </div>
                                {% else %}
                                    {%if category == 'Paellas' %}
                                      <div class="d-flex justify-content-center">
                                          <div class="col-12 ml-3 mr-2 px-3 text-center rounded info">
                                              <p class="my-0">solo sobre pedidos</p>
                                          </div>
                                      </div>
                                    {% endif %}
                                    <div class="row my-1 p-1 border-bottom dish">
                                       <div class="col-5 col-md-5">
                                            <h5><strong>{{item.name}}</strong></h5>
                                       </div>
                                       <div class="col-7 col-md-7 col-lg-7 text-left px-1">
                                           <div class="d-flex justify-content-between">
                                                <div class="d-flex align-items-center px-1 text-left">
                                                    {% if prices|length > 1%}
                                                    <h5><small>Desde </small>{{prices.0.price_str}}</h5>
                                                    {% else %}
                                                    <h4>{{prices.0.price_str}}</h4>
                                                    {% endif %}
                                                </div>
                                                <div class="px-1 addRemoveButtons">
                                                    <div class="itemQty input-group input-group-xs px-1 px-lg-2">
                                                        <div class="input-group-prepend">
                                                            <button class="btn btn-xs px-1 px-sm-2 px-md-3 text-white" type="button" onclick="toCart({{item.id}},-1, 0)"><i class="fas fa-minus"></i></button>
                                                        </div>
                                                            <input type="number" id="product_{{item.id}}" class="form-control text-center px-1 pb-2" name="quantity"
                                                                   value="{% quantity_in_cart request.session.cart item.id %}" disabled style="max-width:60px; min-width:16px; font-size:1.2rem;">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-xs px-1 px-sm-2 px-md-3  text-white" type="button" onclick="toCart({{item.id}}, 1, 0)"><i class="fas fa-plus"></i></button>
                                                        </div>
                                                    </div>
                                                    <div class="addButton px-1" style="display:none;">
                                                       <button class="btn btn-block px-1 text-white" type="button" onclick="toCart({{item.id}}, 1, 0)">{% if prices|length > 1%} Ver tamaños {% else %}<strong> Agregar</strong> <i class="fas fa-plus"></i>{% endif %}</button>
                                                    </div>
                                                </div>
                                           </div>
                                       </div>
                                           <div class="col-12 px-3 text-left ingredients">
                                            {{item.ingredients}}
                                           </div>
                                            {%if category == 'Fuertes' %}
                                                <div class="col-12 my-0 bg-light rounded">
                                                    <p class="my-0"><small>con ensalada de la casa y un acompañamiento de su elección</small></p>
                                                </div>
                                            {% endif %}
                                   </div>
                                {% endif %}
                            {% endwith %}
                        {% endfor %}
                      </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row mx-3 mx-md-0 px-1 col-md-5 d-none d-md-block text-center shadow">
        {% for items in items.values %}
            {% if forloop.counter <= 3 %}
                {% for item in items %}
                    {% if forloop.counter == 1 %}
                    {% if item.photo.url != "https://digimenu-bucket.s3.amazonaws.com/media/images/default/no_photo.png" %}
                    <div class="col-12 mx-0 col-md-12 my-1 px-0 ">
                        <img src="{{item.photo.url}}" class="img-fluid rounded">
                    </div>
                    {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(".collapse").each(function (){
        $(this).on('shown.bs.collapse', function () {
            let title = $(this).prev().find("button").find("span").last();
            let icon = $(this).prev().find("button").find("i");
            icon.removeClass("fa-caret-down");
            icon.addClass("fa-caret-up");
            title.html("<small>cerrar</small>");
            $('html,body').animate({
                scrollTop: $(this).offset().top-80
            }, 'slow');
        })
        $(this).on('show.bs.collapse', function () {
            let title = $(this).prev().find("button").find("span").last();
            let icon = $(this).prev().find("button").find("i");
            icon.removeClass("fa-caret-down");
            icon.addClass("fa-caret-up");
            title.html("<small>cerrar</small>");
        })
         $(this).on('hide.bs.collapse', function () {
            let title = $(this).prev().find("button").find("span").last();
            let icon = $(this).prev().find("button").find("i");
            icon.removeClass("fa-caret-up");
            icon.addClass("fa-caret-down")
            title.html("<small>&nbsp;abrir&nbsp;</small>");
        })
    })
    /*
    $(".btn-link").click( function () {
        let title = $(this).find("span").last();
        let icon = $(this).find("i");
        if (icon.hasClass("fa-caret-down")) {
            icon.removeClass("fa-caret-down");
            icon.addClass("fa-caret-up");
            title.html("<small>cerrar</small>");
        } else {
            icon.removeClass("fa-caret-up");
            icon.addClass("fa-caret-down")
            title.html("<small>abrir</small>");
        }
    });
    */
    function checkQty (){
        $(".addRemoveButtons :input[type=number]").each( function () {
            if ($(this).val() < 1){
               $(this).parent().next().show();
               $(this).parent().hide();
               $(this).parent().parent().parent().find('span').hide();
            } else {
               $(this).parent().next().hide();
               $(this).parent().show();
               $(this).parent().parent().parent().find('span').show();

            }
        });
    }
    checkQty();
</script>
{% endblock %}