{% extends 'base.html' %}

{% load i18n %}
{% load static %}
{% load menu_tags %}
{% block title %}
{% trans 'Menu' %}
{% endblock %}

{% block styles %}
<link href="https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Crushed&family=Vast+Shadow&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'smoothTransition1.0/css/style.css' %}" />
    <style>
        /* For Firefox */
        input[type='number'] {
            -moz-appearance:textfield;
        }

        /* Webkit browsers like Safari and Chrome */
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        #category1 {
        	color: green !important;
        }
        #category1 button {
        	background: green !important;
        }
        #category2 {
        	color: red !important;
        }
        #category2 button{
        	background: red !important;
        }
        #category3 {
        	color: #35352f !important;
        }
        #category3 button{
        	background: yellow !important;
        	color: #35352f !important;
        }
        .p{
        	font-family: 'Crushed';
        	color: 	#484848;
        }
        #category3 p {
        	color: black;
        }
        input[type="number"]:disabled{
        	background-color:transparent;
        	border: none;
        	font-size: 1.3rem;
        }
    </style>
{% endblock %}

{% block body %}
<!--        {{request.session.cart}}-->
	<div class="st-container">
		{% for category in items.keys %}
			<input type="radio" name="radio-set" checked="checked" id="st-control-{{forloop.counter}}" onclick="showSection({{forloop.counter}})"/>
			<a class="in-{{forloop.counter}}" href="#st-panel-1">{{category}}</a>
		{%endfor%}
		<div class="container">
			{% for category, item in items.items %}
			{% if forloop.counter == 1 %}
			<div class="text-center">
				<img src="{{item.0.menu.logo.url}}" width="140" height="105">
			</div>
			{% endif %}
			<section id="category{{forloop.counter}}" class="row mt-4 pt-5 bg-light" style="display:none;">
					<div class="row col-12 col-lg-4 col-md-4 mb-2 pr-1">
						<div class="col-6 col-md-12 pr-1">
						<img src="{{item.0.photo.url}}" class="img-fluid border rounded">
						</div>
						<div class="col-6 col-md-12 pr-1">
						<img src="{{item.1.photo.url}}" class="img-fluid border rounded">
						</div>
					</div>
					<div class="row col-12 col-lg-8 col-md-8 pl-4 pr-0">
					{% for item in item %}
						{% with prices=item.prices.all %}
							<div class="col-12 col-sm-6 col-lg-6 p-1 pl-md-5">
								<h5>{{item.name}}</h5>
								<p class="text-dark">{{item.ingredients}}</p>
							</div>
							<div class="col-7 col-sm-3 col-lg-3 p-1 text-left item">
								<h5>{{prices.0.price_str}}</h5>
							</div>
							<div class="col-5 col-sm-3 col-lg-3 p-1 item">
								<div class="d-flex justify-content-between">
									<div>
										<button class="rounded-circle text-white px-1" type="button"
												onclick="toCart({{item.id}}, -1, 0)"><i class="fas fa-minus"></i></button>
									</div>
									<div class="text-center px-1">
										<input type="number" id="product_{{item.id}}" class="form-control text-center px-1 pb-4" name="quantity"
																		   value="{% quantity_in_cart request.session.cart item.id %}" disabled>
									</div>
									<div>
										<button class="rounded-circle text-white px-1" type="button"
												onclick="toCart({{item.id}}, 1, 0)"><i class="fas fa-plus"></i></button>
									</div>
								</div>
							</div>
						{% endwith %}
					{% endfor %}
					</div>
<!--				</div>-->
			</section>
			{% endfor %}
		</div><!-- // st-scroll -->
	</div><!-- // st-container -->
	{% csrf_token %}
{% endblock %}

{% block scripts %}
<script>
	$("input[type='radio']").each( function (){
		if ($(this).prop('checked')) {
			$(this).trigger('click');
		}
	});
	function showSection(id){
		if($('#category'+id).is(":hidden")){
			$('section').slideUp(700);
			$('#category'+id).slideDown(700);
		};
	};

	function toCart(id, command, itemId=0) {
		if ( !csrftoken ) {
			csrftoken = getCookie('csrftoken');
			console.log("got cookie");
		}
		console.log(csrftoken)
		let inputId = '#product_'+id;
		let qty_update = parseInt(command);

		if ($(inputId).val() === "0" && command=== -1)
				return true;

		// if size is already given (order confirmation)
		if (itemId > 0){
			updateQuantity(itemId, qty_update, inputId)
			return true;
		}

		let url = "{% url 'menu:price' 123 %}".replace(/123/, id);

		//get all sizes of the product in the db
		//or in the order and if it is more than one, show modal to choose.
		$.ajax({
			type: "post",
			url: url,
			data: {'command': command, 'csrfmiddlewaretoken': csrftoken},
			success: function(data) {
				if (data.list == -1) {
					Swal.fire({
					  icon: 'error',
					  title: data.msg,
					  text: data.text,
					})
				}
				if (data.list) {
					(async () => {
						const { value: item_id } = await Swal.fire({
							title: data.msg,
							input: 'select',
							inputOptions: data.list,
							showCancelButton: true,
							inputValidator: (value) => {
								return new Promise((resolve) => {
								  if (value) {
									resolve()
								  } else {
									resolve('You need to select an option :)')
								  }
							})
						  }
						})
						if (item_id) {
							updateQuantity(item_id, qty_update, inputId);
						}
					})()
				}else {
					updateQuantity(data.id, qty_update, inputId);
				}
			}
		});
	};
	$('#modalOrder').on('shown.bs.modal', function (e) {
	  $('#modalOrder').animate({ scrollTop: $('#modalOrder .modal-dialog').height() }, 500);
	})

	function updateQuantity(itemId, qty, inputId){
		let url2 = "{% url 'cart:cart_add' 123 %}".replace(/123/, itemId);
		$.ajax({
			type: "post",
			url: url2,
			data: {'quantity': qty, 'csrfmiddlewaretoken': csrftoken},
			success: function(data) {
				$(inputId).val(parseInt($(inputId).val()) + data.qty)
				$('.cart').load(document.URL +  ' .cart');
				if( $('#modalOrder').hasClass('show')){
					getOrder()
				}
			}
		});
	}
	function removeItem(id){
		let url_base = "{% url 'cart:cart_remove' 1 %}";
		let url = url_base.replace(1,id);
		$.ajax({
			type: "get",
			url: url,
			success: function(data) {
				let inputId = '#product_'+data.id;
				$(inputId).val(0)
				$('.cart').load(document.URL +  ' .cart');
				if( $('#modalOrder').hasClass('show')){
					getOrder()
				}
			}
		});
	}
	function getCookie(name) {
		var cookieValue = null;
		if (document.cookie && document.cookie !== '') {
			var cookies = document.cookie.split(';');
			for (var i = 0; i < cookies.length; i++) {
				var cookie = cookies[i].trim();
				// Does this cookie string begin with the name we want?
				if (cookie.substring(0, name.length + 1) === (name + '=')) {
					cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
					break;
				}
			}
		}
		return cookieValue;
	}
	//var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
</script>
{% endblock %}