{% extends 'base.html' %}

{% load i18n %}
{% load static %}
{% load menu_tags %}
{% block title %}
    Digimenú
{% endblock %}

{% block styles %}
    <style>
        /* For Firefox */
        input[type='number'] {
            -moz-appearance:textfield;
        }
        .form-control:disabled, .form-control[readonly]{
        	background-color:transparent;
        	border: none;
        	font-size: 1rem;
        }
        /* Webkit browsers like Safari and Chrome */
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    </style>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Nixie+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'itemslider1.0/css/style.css' %}" />
    <script src="{% static 'itemslider1.0/js/modernizr.custom.63321.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="d-flex flex-row justify-content-center pt-1">
        <div>
            {% if menu.logo.url %}
            <img src="{{menu.logo.url}}" class="img-fluid rounded" height="160" width="120">
            {% endif%}
        </div>
        <div class="d-none d-md-flex pt-3 align-middle align-items-stretch">
            <h2>{{menu.title}}</h2>
        </div>
<!--        {{request.session.cart}}-->
    </div>
    <hr>
    <div id="mi-slider" class="mi-slider">
        {% for category, item in items.items %}
        <ul id="{{category}}">
            {% for item in item %}
                {% with prices=item.prices.all %}
                    <li><a href="#"><img src="{{item.photo.url}}" width="280" alt="img{{item.id}}">
                        </a>
                        <h5>{{item.name}}</h5>
                        <p class="mb-2">{{prices.0.price_str}}</p>
                        <div class="input-group input-group-xs px-1 px-lg-3">
                            <div class="input-group-prepend">
                                <button class="btn btn-xs btn-primary px-2 px-lg-3" type="button" onclick="toCart({{item.id}},-1,0)">
                                    <i class="fas fa-minus fa-sm align-middle"></i>
                                </button>
                            </div>
                            <input type="number" id="product_{{item.id}}" class="form-control text-center px-2" name="quantity"
                                   value="{% quantity_in_cart request.session.cart item.id %}" disabled>
                            <div class="input-group-append">
                                <button class="btn btn-xs btn-primary px-2 px-lg-3" type="button" onclick="toCart({{item.id}}, 1,0)">
                                    <i class="fas fa-plus fa-sm align-middle"></i>
                                </button>
                            </div>
                        </div>
                    </li>
                {% endwith %}
            {% endfor %}
        </ul>
        {% endfor %}
        <nav>
            {% for category in items.keys %}
            <a href="#">{{category}}</a>
            {% endfor %}
        </nav>
    </div>
    {% csrf_token %}
{% endblock %}
{% block scripts %}
    <script src="{% static 'itemslider1.0/js/jquery.catslider.js' %}"></script>
    <script>
        $(function() {
            $( '#mi-slider' ).catslider();
        });
    	function sendAddsOn () {
            let url = "{% url 'menu:order' 123 %}".replace(/123/, $("#itemToAdd").text());
            let form = $("#addsOnForm").serialize()
            $.ajax({
                type: "post",
                url: url,
                data: form,
                success: function(data) {
                    inputId = '#product_'+data.price_id;
                    updateQuantity(data.item_id, 1, inputId)
                }
            });
            $('#modalAddsOn').modal('hide');
        }
        function toCart(id, command, itemId=0) {
            let inputId = '#product_'+id;
            let qty_update = parseInt(command);
            // when quantity is zero
            if ($(inputId).val() === "0" && command=== -1)
                    return true;

            // when product in cart id is given (order confirmation)
            if (itemId > 0){
                updateQuantity(itemId, qty_update, inputId)
                return true;
            }

            let url = "{% url 'menu:price' 123 %}".replace(/123/, id);

            //get all sizes of the product in the db
            //or in the order and if it is more than one, show modal to choose.
            $.ajax({
                type: "post",
                url: url,
                data: {'command': command},
                success: function(data) {
                    if (data.list == -1) {
                        Swal.fire({
                          icon: 'error',
                          title: data.msg,
                          text: data.text,
                        })
                        return true;
                    }
                    // check if there are different sizes
                    if (data.list) {
                        (async () => {
                            const { value: item_id } = await Swal.fire({
                                title: data.msg,
                                input: 'radio',
                                inputOptions: data.list,
                                showCancelButton: true,
                                inputValidator: (value) => {
                                    return new Promise((resolve) => {
                                    if (value) {
                                        resolve()
                                    } else {
                                        resolve('Selecciona un tamaño :)')
                                    }
                                })
                              }
                            })
                            if (item_id) {
                                sameItemsUrl = "{% url 'menu:same-item' 123 %}".replace(/123/, item_id);
                                $.ajax({
                                    type: "post",
                                    url: sameItemsUrl,
                                    data: {'command': command},
                                    success: function(data) {
                                        console.log(data)
                                        if (!data.id) {
                                            (async () => {
                                                const { value: selected } = await Swal.fire({
                                                    title: 'Select a product',
                                                    html: data,
                                                    focusConfirm: false,
                                                    preConfirm: () => {
                                                        let e = document.getElementById("productOptions");
                                                        let selected = e.options[e.selectedIndex].value;
                                                        return selected
                                                    }
                                                })
                                                if (selected) {
                                                    if (selected != "0")
                                                        updateQuantity(selected, qty_update, inputId)
                                                    else
                                                        showAddOns(item_id)
                                                }
                                            })()
                                        }else {
                                            if ( qty_update === -1 || data.product_in_cart) {
                                                updateQuantity(data.id, qty_update, inputId)
                                            }else{
                                                showAddOns(data.id)
                                            }
                                        }
                                    }
                                });
                            }
                        })()
                    }else {
                        //check if there are items of same size in cart
                        sameItemsUrl = "{% url 'menu:same-item' 123 %}".replace(/123/, data.id);
                        $.ajax({
                            type: "post",
                            url: sameItemsUrl,
                            data: {'command': command},
                            success: function(data) {
                                if (!data.id) {
                                     (async () => {
                                        const { value: selected } = await Swal.fire({
                                            title: 'Select a product',
                                            html: data,
                                            focusConfirm: false,
                                            preConfirm: () => {
                                                let e = document.getElementById("productOptions");
                                                let selected = e.options[e.selectedIndex].value;
                                                return selected
                                            }
                                        })
                                        if (selected) {
                                            if (selected != "0")
                                                updateQuantity(selected, qty_update, inputId)
                                            else
                                                showAddOns(item_id)
                                        }
                                    })()
                                }else {
                                    if ( qty_update === -1 || data.product_in_cart) {
                                        updateQuantity(data.id, qty_update, inputId)
                                    }else{
                                        showAddOns(data.id)
                                    }
                                }
                            }
                        });
                    }
                }
            });
        };
     	function showAddOns(item_id){
            AddsOnUrl = "{% url 'menu:adds-on' 123 %}".replace(/123/, item_id);
                $.ajax({
                    type: "get",
                    url: AddsOnUrl,
                    success: function(data) {
                        let div = document.getElementById('addsOnBody');
                        div.innerHTML = data;
                        if ( data.indexOf("addOnDiv") === -1 ) {
                            sendAddsOn();
                        } else {
                            $('#modalAddsOn').modal('show');
                        }
                    }
                });
        }
        $('#modalOrder').on('shown.bs.modal', function (e) {
          $('#modalOrder').animate({ scrollTop: $('#modalOrder .modal-dialog').height() }, 500);
        })

        function updateQuantity(itemId, qty, inputId){
            let url2 = "{% url 'cart:cart_add' 123 %}".replace(/123/, itemId);
            $.ajax({
                type: "post",
                url: url2,
                data: {'quantity': qty},
                success: function(data) {
                    $(inputId).val( parseInt( $(inputId).val() ) + data.qty)
                    $('.cart').load(document.URL +  ' .cart');
                    if( $('#modalOrder').hasClass('show')){
                        getOrder()
                    }
                }
            });
        }

        // adding and removing category for plugin to work
        if (parseInt($(window).width()) < 576) {
            if(!$(".category").length){
                $('ul').each( function () {
                    $('<div class="lead category bg-secondary mt-3 rounded">' + this.id + '</div>').insertBefore(this)
                });
            }
        }
        $( window ).resize( function(){
            if (parseInt($(window).width()) < 576) {
                if(!$(".category").length){
                    $('ul').each( function () {
                        $('<div class="lead category bg-secondary mt-3 rounded">' + this.id + '</div>').insertBefore(this)
                    });
                }
            } else if ($(".category").length){
                $(".category").remove();
            }
        });
        function removeItem(id){
            let url_base = "{% url 'cart:cart_remove' 1 %}";
            let url = url_base.replace(1,id);
            $.ajax({
                type: "get",
                url: url,
                success: function(data) {
                    let inputId = '#product_'+data.id;
                    $(inputId).val(0)
                    $('.cart').load(document.URL +  ' .cart');
                    if( $('#modalOrder').hasClass('show')){
                        getOrder()
                    }
                }
            });
        }
    </script>
{% endblock %}