{% extends 'base.html' %}

{% load i18n %}
{% load static %}
{% load menu_tags %}
{% block title %}
{% trans 'Menu' %}
{% endblock %}

{% block styles %}
<link href="https://fonts.googleapis.com/css2?family=Germania+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Aleo:wght@300&display=swap" rel="stylesheet">
<style>
    /* For Firefox */
    input[type='number'] {
        -moz-appearance:textfield;
    }

    .itemQty > .form-control:disabled, itemQty > .form-control[readonly]{
        background-color: #fff;
        border: solid 1px #000;
        font-size: 1.2rem;
        color: #000;
    }

    /* Webkit browsers like Safari and Chrome */
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    hr {
        background-color: #a0705e !important;
    }

    .card-header > button{
        font-family: 'Germania One', cursive;
        font-size: 2rem !important;
        color: #613924 !important;
    }

    .input-group-prepend > button, .input-group-append > button{
        border: solid 1px #613924;
        //background-color: #be7650;
        background-image: linear-gradient(#613924, #9e6945);
    }
    .addButton > button{
            border: solid 1px #613924;
            background-image: linear-gradient(#613924, #9e6945);
            font-family: 'Germania One', cursive;
    }
    .card-header{
        background-image: linear-gradient(#EAE2A9, #b3883c);
        text-transform: uppercase;
    }

    .card-body{
        background-color: #FFFFFF;
    }

    .dish{
        font-family: 'Aleo', serif;
        weight:
        color: #613924;
    }
    .ingredients{
        font-family: 'Aleo', serif;
        color: #5a5a5a;
    }
    .dish > span{
        position: relative;
        top: -5px !important;
    }
</style>
{% endblock %}

{% block body %}
<div class="d-flex flex-row justify-content-between pt-2">
    <div class="px-2">
        {% if menu.logo.url %}
        <img src="{{menu.logo.url}}" class="img-fluid rounded" height="200" width="200">
        {% endif%}
    </div>
    <div class="bg-light px-2 rounded">
        <h6>Contactanos:</h6>
        <p><i class="fa fa-phone-square mt-2"></i> <a href="tel:+573104782643">310-478-2643</a></p>
        <p class="my-1"><i class="fa fa-map-marker"></i> Cra 42 # 21-23</p>
        <p class="my-1">C.C La Querencia</p>
    </div>
</div>
<hr>
<div class="row">
    <div class="accordion col-12 col-md-7" id="accordionMenu">
        {% for category, item in items.items %}
            <div class="card">
                <div class="card-header p-1" id="heading{{id}}">>
                    <button class="btn btn-link btn-block text-center px-1" type="button" data-toggle="collapse" data-target="#cat{{id}}" aria-expanded="true" aria-controls="cat{{id}}">
                        {{category}} <span class="float-right"><span class="float-right" style="font-size:12px; right:24px; position: relative;"><small>&nbsp;abrir&nbsp;</small></span><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                    </button>
                </div>
                <div id="cat{{id}}" class="collapse shadow" aria-labelledby="heading{{id}}" data-parent="#accordionMenu">
                     <h3>Cargando...</h3>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="col-12 col-md-5 align-items-center flex-column shadow">
    {% for ad in ads %}
        <div class="text-center">
            <img src="{{ad.photo.url}}" class="img-fluid rounded" style="max-height:400px;">
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(".collapse").each(function (){
        $(this).on('shown.bs.collapse', function () {
            let title = $(this).prev().find("button").find("span").last();
            let icon = $(this).prev().find("button").find("i");
            icon.removeClass("fa-caret-down");
            icon.addClass("fa-caret-up");
            title.html("<small>cerrar</small>");
            $('html,body').animate({
                scrollTop: $(this).offset().top-80
            }, 'slow');
        })
        $(this).on('show.bs.collapse', function () {
            let divId = $(this).attr("id");
            let id = divId.replace("cat", "");
            console.log(id);
            if ($(this).find('.card-body').length < 1){
                loadItems(parseInt(id));
            }
            let title = $(this).prev().find("button").find("span").last();
            let icon = $(this).prev().find("button").find("i");
            icon.removeClass("fa-caret-down");
            icon.addClass("fa-caret-up");
            title.html("<small>cerrar</small>");
        })
         $(this).on('hide.bs.collapse', function () {
            let title = $(this).prev().find("button").find("span").last();
            let icon = $(this).prev().find("button").find("i");
            icon.removeClass("fa-caret-up");
            icon.addClass("fa-caret-down")
            title.html("<small>&nbsp;abrir&nbsp;</small>");
        })
    })
    function loadItems(id){
        let items;
        $.ajax({
            type: 'get',
            url: "{% url 'menu:get-items' 123 %}".replace( /123/, id),
            success: function(data){
                let div = document.getElementById("cat" + id);
                div.innerHTML = data;
                console.log(div);
                console.log(data);
                checkQty();
            }
        });
        console.log(items)
        return items;
    }
    function checkQty (){
        $(".addRemoveButtons :input[type=number]").each( function () {
            if ($(this).val() < 1){
               $(this).parent().next().show();
               $(this).parent().hide();
               $(this).parent().parent().parent().find('span').hide();
            } else {
               $(this).parent().next().hide();
               $(this).parent().show();
               $(this).parent().parent().parent().find('span').show();

            }
        });
    }
</script>
{% endblock %}