{% extends 'base.html' %}

{% load i18n %}
{% load static %}
{% load menu_tags %}
{% block title %}
{% trans 'Menu' %}
{% endblock %}

{% block styles %}
<link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Rosario:wght@300&display=swap" rel="stylesheet">
<style>
    /* For Firefox */
    input[type='number'] {
        -moz-appearance:textfield;
    }
    .itemQty > .form-control:disabled, itemQty > .form-control[readonly]{
        background-color:white;
        border: solid 1px #151e3f;
        font-size: 1rem;
    }
    /* Webkit browsers like Safari and Chrome */
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    hr {
        background-color: #151e3f;
    }
    .card-header > button{
        font-family: 'Yellowtail', cursive;
        font-size: 2.5rem !important;
    }
    .input-group-prepend > button, .input-group-append > button{
        background-color: #872021;
    }
    .card-header{
        background-image: linear-gradient(#d19a0a,#f4b81a);
    }
    .pair{
        background-image: linear-gradient(#872021,#b02a2b);
    }
    .dish{
        font-family: 'Rosario', sans-serif;
    }

</style>
{% endblock %}

{% block body %}
<div class="d-flex flex-row justify-content-center pt-1">
    <div>
        {% if menu.logo.url %}
        <img src="{{menu.logo.url}}" class="img-fluid rounded" height="150" width="150">
        {% endif%}
    </div>
<!--    <div class="d-none d-md-flex pt-4 align-middle align-items-stretch">-->
<!--        <h2>{{menu.title}} {{menu.subtitle}}</h2>-->
<!--    </div>-->
</div>
<hr>
<div class="row">
    <div class="accordion col-12 col-md-7 mb-4" id="accordionMenu">
        {% for category, item in items.items %}

            <div class="card">
                <div class="card-header {% if forloop.counter|divisibleby:2 %}pair{% endif %}" id="heading{{forloop.counter}}">
                    <button class="btn btn-link btn-block text-center text-white" type="button" data-toggle="collapse" data-target="#collapse{{forloop.counter}}" aria-expanded="true" aria-controls="collapse{{forloop.counter}}">
                        {{category}} <span class="float-right"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                    </button>
                </div>
                <div id="collapse{{forloop.counter}}" class="collapse shadow" aria-labelledby="heading{{forloop.counter}}" data-parent="#accordionMenu">
                      <div class="card-body px-2 pt-2 pr-md-3 pb-1">
                        {% for item in item %}
                            {% if forloop.counter == 1 %}
                            {% if item.photo.url != "/media/images/default/no_photo.png" %}
                            <div class="row mx-0 my-1 mb-3 px-1 d-sm-block d-md-none">
                                <img src="{{item.photo.url}}" class="img-fluid rounded">
                            </div>
                            {% endif %}
                            {% endif %}
                            {% with prices=item.prices.all %}
                               <div class="row mt-2 px-2 border-bottom dish">
                                    <div class="col-5 pl-3 pr-0 col-md-6 col-lg-6 pl-md-2 text-left">
                                        <p><strong>{{item.name}}</strong></p>
                                    </div>
                                    <div class="col-3 col-md-2 col-lg-3 px-1 px-md-1 text-center">
                                        <h5><strong>{{prices.0.price_str}}</strong></h5>
                                    </div>
                                    <div class="col-4 col-md-4 col-lg-3 px-1 px-md-2 ">
                                        <div class="itemQty input-group input-group-xs px-1 px-lg-2">
                                            <div class="input-group-prepend">
                                                <button class="btn btn-xs text-white px-2" type="button" onclick="toCart({{item.id}},-1, 0)"><i class="fas fa-minus"></i></button>
                                            </div>
                                                <input type="number" id="product_{{item.id}}" class="form-control text-center px-2 pb-2 " name="quantity" style="font-size: 1.2rem;"
                                                       value="{% quantity_in_cart request.session.cart item.id %}" disabled>
                                            <div class="input-group-append">
                                                <button class="btn btn-xs text-white px-2" type="button" onclick="toCart({{item.id}}, 1, 0)"><i class="fas fa-plus"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-8 pl-3 pl-md-2 col-md-8 col-lg-9 px-1 px-md-1 mb-2 text-left">
                                        <small>{{item.ingredients}}</small>
                                    </div>
                               </div>
                            {% endwith %}
                        {% endfor %}
                      </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row mx-3 mx-md-0 px-1 col-md-5 d-none d-md-block text-center shadow">
        {% for items in items.values %}
                {% for item in items %}
                    {% if forloop.counter == 1 %}
                    <div class="col-12 mx-0 col-md-12 my-1 px-0 ">
                        <img src="{{item.photo.url}}" class="img-fluid rounded">
                    </div>
                    {% endif %}
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}