{% extends 'base.html' %}

{% load i18n %}
{% load static %}
{% load menu_tags %}
{% block title %}
{% trans 'Menu' %}
{% endblock %}

{% block styles %}
<style>
    /* For Firefox */
    input[type='number'] {
        -moz-appearance:textfield;
    }

    /* Webkit browsers like Safari and Chrome */
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .itemQty > .form-control:disabled, itemQty > .form-control[readonly]{
        background-color: #fff;
        border: solid 1px #c90300; //changes
        font-size: 2.2rem !important;
        color: #000;
    }

    .card-header > button{
        font-size: 1rem !important;
        color: #fff !important;
    }

    .input-group-prepend > button, .input-group-append > button{
        border: solid 1px #613924;
    }

    .dish > span{
        position: relative;
        top: -5px !important;
    }
    .dropBut {
        font-size: 14px;
        right: 28px;
        top: -15px;
        position: relative;
    }
</style>
{% endblock %}

{% block body %}
<div class="d-flex flex-row justify-content-between pt-2">
    <div class="px-2">
        {% if menu.logo.url %}
        <img src="{{menu.logo.url}}" class="img-fluid rounded" height="200" width="200">
        {% endif%}
    </div>
    <div class="bg-light px-2 text-primary rounded">
        <h3>Editar Menu</h3>
        <h4 class="my-1">Aqui podras ver, agregar, editar y eliminar productos y categorias.</h4>
        <p class="my-0 pl-3">Direcion, telefono, estilos y colores no son editables y necesitas contactar al administrador</p>
    </div>
</div>
<hr>
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content" id="modalBody1">
        ...
    </div>
  </div>
</div>

<div id="menuEditable">
{% include "chunks/edit_menu.html" %}
</div>
{% endblock %}

{% block scripts %}
<script>
    $(".collapse").each(function (){
        $(this).on('shown.bs.collapse', function () {
            let title = $(this).prev().find(".btn-block").find("span").last();
            let icon = $(this).prev().find(".btn-block").last().find("i");
            icon.removeClass("fa-caret-down");
            icon.addClass("fa-caret-up");
            title.html("<small>cerrar</small>");
            $('html,body').animate({
                scrollTop: $(this).offset().top-80
            }, 'slow');
        })
        $(this).on('show.bs.collapse', function () {
            let title = $(this).prev().find(".btn-block").find("span").last();
            let icon = $(this).prev().find(".btn-block").last().find("i");
            icon.removeClass("fa-caret-down");
            icon.addClass("fa-caret-up");
            title.html("<small>cerrar</small>");
        })
         $(this).on('hide.bs.collapse', function () {
            let title = $(this).prev().find(".btn-block").find("span").last();
            let icon = $(this).prev().find(".btn-block").last().find("i");
            icon.removeClass("fa-caret-up");
            icon.addClass("fa-caret-down")
            title.html("<small>&nbsp;abrir&nbsp;</small>");
        })
    })

    function createCategory(method){
        let url = "{% url 'menu:category-create' %}";
        if(method == 'get'){
            $.ajax({
                method: method,
                url: url,
                success: function(data){
                    let div = document.getElementById('modalBody1');
                    div.innerHTML = data;
                    $('#modal1').modal('show');
                }
            });
        } else{
            let menuId = {{menu.id}};
            let menuOwner = {{menu.owner.id}};
            let form = $("#formCat").serialize() + "&menu_id=" + menuId + "&menu_owner=" + menuOwner;
            console.log(form);
            $.ajax({
                method: method,
                url: url,
                data: form,
                success: function(data){
                console.log(data);
                    if(data.includes("menu-content")){
                        $('#modal1').modal('hide');
                        confirmationMsg('Categoria creada exitosamente');
                        let div = document.getElementById('menuEditable');
                        div.innerHTML = data;
                    } else {
                        let div = document.getElementById('modalBody1');
                        div.innerHTML = data;
                    }
                }
            });
        }
    }
    function editCategory(id, method){
        let url = "{% url 'menu:category-update' 123 %}".replace(/123/, id);
        if(method == 'get'){
            $.ajax({
                method: method,
                url: url,
                success: function(data){
                    let div = document.getElementById('modalBody1');
                    div.innerHTML = data;
                    $('#modal1').modal('show');
                }
            });
        } else{
            let menuId = {{menu.id}};
            let form = $("#formCat").serialize() + "&menu_id=" + menuId;
            $.ajax({
                method: method,
                url: url,
                data: form,
                success: function(data){
                    if(data.id){
                        $(data.id).hide().html(data.name).fadeIn('fast');
                        $('#modal1').modal('hide')
                        confirmationMsg('Categoria actualizada exitosamente');
                    } else if (data.includes("menu-content")) {
                        $('#modal1').modal('hide')
                        confirmationMsg('Categoria actualizada exitosamente');
                        let div = document.getElementById('menuEditable');
                        div.innerHTML = data;
                    } else{
                        let div = document.getElementById('modalBody1');
                        div.innerHTML = data;
                    }
                }
            });
        }
    }
    function deleteCategory(id){
        let menuId = {{menu.id}};
        let url = "{% url 'menu:category-delete' 123 %}".replace(/123/, id);
        Swal.fire({
          title: 'Eliminar Categoria?',
          text: "todos los productos que esten en la ctegoria seran eliminados permanentemente",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#192242',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Si, borrar',
          cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    method: 'post',
                    data:{menu_id:menuId},
                    url: url,
                    success: function(data){
                        if( data.id){
                            confirmationMsg('Categoria eliminada exitosamente');
                            $(data.id).remove()
                        } else{
                            errorMsg(data.msg);
                        }
                    }
                });
            }
        })
    }
    function confirmationMsg(title){
        Swal.fire({
          position: 'top-end',
          icon: 'success',
          title: title,
          showConfirmButton: false,
          timer: 2000
        })
    }
    function errorMsg(title){
        Swal.fire({
          icon: 'error',
          title: title,
          showConfirmButton: true,
        })
    }
</script>
{% endblock %}