{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block title %}
{% trans 'Home' %}
{% endblock %}

{% block styles %}
<!--    INDEX STYLE-->
<link rel="stylesheet" href="{% static 'css/index.css' %}"/>
{% endblock %}
{% block body %}
<div hidden>    <!--    hidden input for form-->
    <form id="searchForm" method="post">{% csrf_token %}
        {{form.city}}
        {{form.establishments}}
    </form>
</div>
<div class="text-center">
    <h1 class="display-4 text-primary"><em>"Aqui encuentras los mejores restauranteas de tu ciudad"</em></h1>
    <h3 class="text-secondary">De que te antojas hoy?</h3>
</div>
<div class="input-group col-lg-12  col-xl-10 offset-xl-1  col-md-12  col-sm-12 my-5">
    <div class="col-xm-12 col-sm-4 col-lg-4 mx-0 px-0">
        <button id="butEstablishment" class="btn btn-outline-primary btn-lg btn-block dropdown-toggle down-in-group1" type="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{form.establishments}}
        </button>
        <div class="dropdown-menu col-sm-12 text-center">
            {% for choice in form.establishments.field.choices%}
            <a class="dropdown-item" onclick="selectEstablishment('{{choice.0}}')">{{choice.1}}</a>
            {% endfor %}
        </div>
    </div>
<!--    <div class="col-xm-12 col-sm-4 col-lg-3 mx-0 px-0">-->
<!--        <button id="butProperty" class="btn btn-outline-secondary btn-lg  btn-block dropdown-toggle down-in-group2" type="button"-->
<!--                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans 'Apartment' %}-->
<!--        </button>-->
<!--        <div class="dropdown-menu col-sm-12 text-center">-->
<!--            {% for choice in form.property_type.field.choices%}-->
<!--            <a class="dropdown-item" onclick="selectPropertyType('{{choice.0}}')">{{choice.1}}</a>-->
<!--            {% endfor %}-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col-xs-12 col-sm-4 col-lg-2  mx-0 px-0">-->
<!--        <button id="butCondition" class="btn btn-outline-secondary btn-lg btn-block dropdown-toggle down-in-group3"  type="button"-->
<!--                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans 'New' %}-->
<!--        </button>-->
<!--        <div class="dropdown-menu col-sm-12 text-center">-->
<!--            {% for choice in form.property_condition.field.choices%}-->
<!--            <a class="dropdown-item" onclick="selectCondition('{{choice.0}}')">{{choice.1}}</a>-->
<!--            {% endfor %}-->
<!--        </div>-->
<!--    </div>-->
    <input type="text" class="form-control input-in-group form-control-lg px-2" id="autocomplete"  placeholder=" Busca tu ciudad"
           aria-label="input with three button addons"  aria-describedby="button-addon3">
    <div class="input-group-append">
        <button id="submitButton" type="button" class="btn btn-primary button-in-group"><i class="fas fa-search"></i></button>
    </div>
</div>
<div id="results" class="container"></div>
{% endblock %}
{% block scripts %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4Gol1U3BbHLkWzeJb5kbggvFAPVKZRAA&libraries=places&region=CO"></script>
<script>
    // submit hidden form
    $("#submitButton").click( function() {
        //$("#searchForm").submit();
        let city = $("#id_city").val();
        let category = $("#id_establishments").val();
        $.ajax({
            type: "get",
            url: "{% url 'menu:list' 123 %}".replace( '123', city),
            data: {category:category},
            success: function(data) {
                let resultDiv = document.getElementById('results');
                resultDiv.innerHTML = data;
                $("#titleResult").text($("#titleResult").text().replace('category' , $("#id_establishments option:selected").text().toUpperCase()));
                $("#titleResult").text($("#titleResult").text().replace('city' , $("#id_city").val().toUpperCase()));
                $('html, body').animate({
                        scrollTop: $('#results').offset().top
                }, 'fast');
            }
        });
    });
    $("#autocomplete").keyup( function() {
          $("#id_city").val($("#autocomplete").val());
    });

    function geoLocate() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(getPosition, noLocation);
      }
    }
    function noLocation(err){
        console.warn('ERROR(' + err.code + '): ' + err.message);
    }
    function getPosition(position){
        var lat = position.coords.latitude;
        var lon = position.coords.longitude;
        var latlng = {lat: parseFloat(lat), lng: parseFloat(lon)};
        geocoder.geocode({'location': latlng}, function(results, status) {
        if (status === 'OK') {
              if (results[0]) {
                alert(results[0].formatted_address);
              } else {
                window.alert('No results found');
              }
            } else {
              window.alert('Geocoder failed due to: ' + status);
            }
          });
    }

    function initAutocomplete() {
      // Create the autocomplete object, restricting the search predictions to
      // geographical location types.
      let addressIn = document.getElementById('autocomplete');
      autocomplete = new google.maps.places.Autocomplete(
        addressIn, {types: ['(cities)'], componentRestrictions: {country: 'co'}}
        //addressIn, {types: ['(cities)'], bounds: defaultBounds, strictBounds: true,}
      );

      // Avoid paying for data that you don't need by restricting the set of
      // place fields that are returned to just the address components.
        autocomplete.setFields(['address_components']);

      // When the user selects an address from the drop-down, populate the
      // address fields in the hidden form.
       autocomplete.addListener('place_changed', fillInAddress);
    }

    function fillInAddress() {
      // Get the place details from the autocomplete object.
      var place = autocomplete.getPlace();

      // fields to be populated
      //let locality = document.getElementById('id_locality');
      let city = document.getElementById('id_city');
      //let state = document.getElementById('id_state');

      for (var i = 0; i < place.address_components.length; i++) {
        var addressType = place.address_components[i].types[0];
        if (addressType === "administrative_area_level_2"){
            city.value = place.address_components[i].long_name;
            break;
         }
      }
    }

    function selectEstablishment(choice){
        $('#id_establishments option[value="' + choice +'"]').prop("selected", true);
        document.getElementById('butEstablishment').innerHTML = $('#id_establishments option:selected').html();
    };
    selectEstablishment()
    // start google maps autocomplete
    initAutocomplete()
    geoLocate()
</script>

{% endblock %}
